/*Id*/

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

/*Classes*/
.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  color: #ffffff;
}

/*Elements*/

h1 {
  font-family: "Montserat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserat", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

body {
  font-family: "Montserat", sans-serif;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserat", sans-serif;
  font-weight: 300;
}

/* Buttons */

.download-button {
  margin: 5% 3% 10% 0%;
}

/* Title image */
.title-image {
  width: 25%;
  transform: rotate(25deg);
  display: inline-block;
  position: absolute;
  left: 50%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #ffffff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.benefits {
  font-family: "Montserat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.feature-paragraph {
  color: #8f8f8f;
}

.benefit-image {
  color: #ef8172;
  margin-bottom: 1rem;
}

.benefit-image:hover {
  color: #ff4c68;
}
/* testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing */

#pricing {
  padding: 4%;
  text-align: center;
}

.pricing-column {
  padding: 3%;
}
@media (max-width: 991px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* CTA */
#cta {
  padding: 7% 15% 0%;
  background-color: #ff4c68;
  color: #ffffff;
  text-align: center;
}
/* Footer */
#footer {
  padding: 2% 15% 0%;
  background-color: #ffffff;
  text-align: center;
}

.copyright {
  color: #928d88;
}

.social-media {
  padding: 4% 3%;
}
